<div class="container mt-3">
  <div class="row justify-content-center">
    <%= simple_form_for @recipe, url: recipe_path do |f| %>
      <div>
        <%= f.input :name, label: 'Name' %>
        <%= f.input :ingredients, as: :array %>
        <button class="add-ingredients-button">Update ingredients</button>
        <%= f.input :prep_time, label: 'Prep Time' %>
        <%= f.input :instructions, label: 'Instructions' %>
      </div>
      <div>
        <%= f.submit 'Update Recipe', class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  function addField() {
    document.ready(function() {
      let inputTarget = document.querySelector(".add-ingredients-button");
      
      inputTarget.addEventListener('click', addIngredientField);
      return {
        addIngredientField: function(e) {
          let lastIngredientField;
          e.preventDefault();
          lastIngredientField = ('input[name="recipe[ingredients][]"]:last-of-type').clone();
          lastIngredientField.val("");
          return (".input.recipe_ingredients").append($lastIngredientField);
        }
      }
    })
  }

  addField();
</script>
