<div class="container">
  <%= image_tag "https://loremflickr.com/320/240/#{@recipe.name}/", class: "mb-2" %>
  <div>
    <% if @recipe.user == current_user %>
      <p><%= link_to ('<p>Edit recipe <i class="fas fa-edit"></i></p>').html_safe, edit_recipe_path(@recipe) %></p>
    <% end %>
  </div>
  <h1><%= @recipe.name %></h1>
  <small>Rating: <%= @recipe.rating %>/5</small>
  <p>Prep time: <%= @recipe.prep_time %> minutes</p>
  <h2>Ingredients</h2>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
  <h2>Instructions</h2>
  <p><%= @recipe.instructions %></p>

  <hr>

  <h2>Reviews</h2>

  <p><%= link_to "Add a review", new_recipe_review_path(@recipe) %></p>
  <div class="card__review">
    <% @recipe.reviews.each do |review| %>
    <div class="review-header">
      <p><%= review.user.username %></p>
    </div>
    <div class="review-date">
      <p>(<%= review.created_at.to_formatted_s(:db) %>)</p>
    </div>
    <p>Rating: <%= review.rating %>/5</p>
    <p><%= review.content %></p>
    <% end %>
  </div>

</div>
